<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/nav.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Login</title>
  </head>

  <body style="background-color: #d4d4d4">
    <div class="bg-light p-2">
      <nav class="container navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
          <a href="/">
            <img
              src="../assets/icon/du.png"
              alt="download"
              width="45px"
              height="40px"
            />
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
               {{#if isLogin}}
              <li class="nav-item">
                <a class="nav-link" href="/add-project">
                Add My Project
                </a>
              </li>
               {{/if}}
              <li class="nav-item">
                <a class="nav-link" href="/testimoni">Testimonial</a>
              </li>
            </ul>
            <div>
              <a href="/register" style="text-decoration: none;">
                <button class="btn btn-danger">
                  Register
                </button>
              </a>
              <a href="/login" class="me-3" style="text-decoration: none;">
                <button class="btn btn-outline-danger">
                  Login
                </button>
              </a>
              <a href="/contact" style="text-decoration: none;">
                <button class="btn btn-dark">
                  Contact
                </button>
              </a>
            </div>
          </div>
          <i
            class="fa-solid fa-bars fa-2x"
            style="cursor: pointer;"
            id="hamburger-button"
            onclick="openHamburger()"
          >
          </i>
        </div>
      </nav>

      <div
        id="hamburger-navbar-container"
        class="hamburger-navbar-container hidden"
      >
        <a class="hamburger-navbar-link" href="/">Home</a>
         {{#if isLogin}}
        <a
          class="hamburger-navbar-link"
          href="#"
        >Add My Project</a>
        {{/if}}
        <a class="hamburger-navbar-link" href="/testimoni">Testimonial</a>
        {{#if isLogin}}
            <a class="hamburger-navbar-link" href="/logout">Logout</a>
            {{else}}
            <a class="hamburger-navbar-link" href="/register">Register</a>
            <a class="hamburger-navbar-link" href="/Login" style="background-color: orangered;">Login</a>
        {{/if}}
        <a class="hamburger-navbar-link" href="/contact">Contact</a>
      </div>
    </div>

    <div>
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            {{#if messages.failed}}
            <div class="alert alert-danger" role="alert">
              {{messages.failed}}
            </div>
            {{/if}}
            <h1 class="fw-bold text-center mb-4 fs-3">
              LOGIN TO YOUR ACCOUNT
            </h1>
            <form action="/login" method="post">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  required
                />
              </div>

              <div class="mt-3">
                <button type="submit" class="btn btn-dark float-end">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

    {{! <div
          id="project-content"
          class="d-flex flex-wrap justify-content-center"
        >
          <!-- dynamic content -->
          
        </div> }}

    <script src="../assets/js/nav.js"></script>
    <script src="../assets/js/project.js"></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"
    ></script>

  </body>

</html>