* {
  padding: 0;
  margin: 0;
}

.hamburger-navbar-container {
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.hamburger-navbar-link {
  display: none;
  padding: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid white;
}

#hamburger-button {
  display: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 576px) {
  .nav ul .list-item {
    display: none;
  }

  .button-contact {
    display: none;
  }

  .hamburger-navbar-link {
    display: block;
  }

  #hamburger-button {
    display: block;
  }
}
